<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

       <context:property-placeholder location="classpath:authenticationSource.properties" />

       <!-- controllers -->
       <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
              <property name="mappings">
                     <props>
                            <prop key="/auth/signup">signUpController</prop>
                            <prop key="/auth/signin">signInController</prop>
                            <prop key="/">userController</prop>
                     </props>
              </property>
       </bean>
       <bean id="signUpController" class="com.srt.SpringAuth.controllers.SignUpController">
              <constructor-arg ref="jsonMapper" />
              <constructor-arg ref="signUpService" />
              <constructor-arg ref="restControllerUtil" />
       </bean>
       <bean id="signInController" class="com.srt.SpringAuth.controllers.SignInController">
              <constructor-arg ref="restControllerUtil" />
              <constructor-arg ref="jsonMapper" />
              <constructor-arg ref="signInService" />
       </bean>
       <bean id="userController" class="com.srt.SpringAuth.controllers.UserController">
              <constructor-arg ref="restControllerUtil" />
              <constructor-arg ref="jsonMapper" />
       </bean>

       <!-- utils -->
       <bean id="jsonMapper" class="com.fasterxml.jackson.databind.json.JsonMapper" />
       <bean id="passwordEncoder" class="com.srt.SpringAuth.utils.PBKDF2PasswordEncoder" />
       <bean id="restControllerUtil" class="com.srt.SpringAuth.utils.RestControllerUtil">
              <constructor-arg ref="authenticationService" />
       </bean>
       <bean id="validator"
              class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
       <bean id="hmacSha256" class="com.srt.SpringAuth.utils.HmacSha256" />

       <!-- services -->
       <bean id="signUpService" class="com.srt.SpringAuth.services.SignUpService">
              <constructor-arg ref="authDao" />
              <constructor-arg ref="passwordEncoder" />
              <constructor-arg ref="validator" />
       </bean>
       <bean id="signInService" class="com.srt.SpringAuth.services.SignInService">
              <constructor-arg ref="authDao" />
              <constructor-arg ref="passwordEncoder" />
              <constructor-arg ref="validator" />
              <constructor-arg ref="authenticationService" />
       </bean>
       <bean id="authenticationService" class="com.srt.SpringAuth.services.AuthenticationService">
              <property name="secretKey" value="${jwt.secretKey}" />
              <property name="hmacSha256" ref="hmacSha256" />
       </bean>

       <!-- data -->
       <bean id="authDao" class="com.srt.SpringAuth.dao.impl.AuthDaoImpl">
              <constructor-arg ref="entityManager" />
       </bean>

       <!-- entity manager -->
       <tx:annotation-driven transaction-manager="transactionManager" />

       <bean id="entityManagerFactory"
              class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
              <property name="persistenceUnitName" value="my-persistence-unit" />
       </bean>
       <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
              <property name="entityManagerFactory" ref="entityManagerFactory" />
       </bean>
       <bean id="entityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
              <property name="entityManagerFactory" ref="entityManagerFactory" />
       </bean>

</beans>